@page
@model PerDisplay2Model
@{
    ViewData["Title"] = "base";
}

<div class="text-center">
    <h1 class="display-4 nav-link text-white">Adventure Quest</h1>
        <div class="container text-center text-white">
            <P>STATUS Pause</P>
            <p>this is my main Project I started it around november 2024</p>
             "so far I havent had much time but once I clear up all my Projects image going to put all effort here to get this done"
        </div>
</div>


<div class="display-4 nav-link text-white text-center white-space">
     Project example 1 
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
</div>
<div class="image-container">
        <video width="940" height="440" autoplay muted>
        <source src="videos\DungeonQuest.mp4" type="video/mp4" alt="description">
</video>
</div>

<div class="text-center">
    <h1 class="display-4 nav-link text-white">Project Name or sample</h1>
        <div class="container text-center text-white">
            Project example 2
        </div>
</div>


<div class="display-4 nav-link text-white text-center white-space">
     Highlighted Projects 
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
</div>
<div class="image-container">
    <a class="nav-link" asp-page="/Testin">
        <img src="images\narutogetmic.jpg" alt="description" class="image-box image">
    </a>
</div>

<div class="text-center">
    <h1 class="display-4 nav-link text-white">About Me</h1>
        <div class="container text-center text-white">
            about text
        </div>
</div>