@page
@model PerDisplay1Model
@{
    ViewData["Title"] = "base";
}

<div class="text-center">
    <h1 class="display-4 nav-link text-white">First Projects</h1>
        <div class="container text-center text-white">
            <p>this is a colection of my first ever projects.</p>
            projects I worked on with 6 monthes of experiences just random stuff I played around with
        </div>
</div>


<div class="display-4 nav-link text-white text-center white-space">
     Beyond 
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
</div>
<div class="image-container">
        <video width="940" height="440" autoplay muted> <source src="videos\Untitled video - Made with Clipchamp (1).mp4" type="video/mp4" alt="description">
</video>
</div>
<div class="text-center">
        <div class="container text-center text-white">
            <p>this was a 2 week solo game jam where the objective was to shrink and grow to move around different obstacals</p>
            I really struggled with design at this point in time
        </div>
</div>



<div class="display-4 nav-link text-white text-center white-space">
     Character Controller
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
</div>
<div class="image-container">
        <video width="940" height="440" autoplay muted> <source src="videos\Untitled video - Made with Clipchamp (10).mp4" type="video/mp4" alt="description">
</video>
</div>
<div class="text-center">
        <div class="container text-center text-white">
            <p>projects built with simple movement animation and physics</p>
            this projects was to test white-space I learned solo far about 3d movement
        </div>
</div>




<div class="display-4 nav-link text-white text-center white-space">
     Beyond 
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
</div>
<div class="image-container">
        <video width="940" height="440" autoplay muted>
        <source src="videos\Untitled video - Made with Clipchamp (9).mp4" type="video/mp4" alt="description">
</video>
</div>
<div class="text-center">
        <div class="container text-center text-white">
            <p>this was a 2 week solo game jam where the objective was to shrink and grow to move around different obstacals</p>
            I really struggled with design at this point in time
        </div>
</div>