@page
@model PrivacyModel
@{
    ViewData["Title"] = "Policy";
}
<a class="nav-link text-white">
    <h1>@ViewData["Title"]</h1>
</a>

<a class="nav-link text-white">
    <p>Use this page to detail your site's privacy policy.</p>
</a>
