@page
@model ProDisplay1Model
@{
    ViewData["Title"] = "base";
}

<div class="text-center">
    <h1 class="display-4 nav-link text-white">Escape The Office VR</h1>
        <div class="container text-center text-white">
            "ETOVR is a indie game worked on by a team Of 11 including myself"
        </div>
</div>


<div class="display-4 nav-link text-white text-center white-space">
     Project example 1 
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
</div>
<div class="image-container">
    <a class="nav-link" asp-page="/Testin">
        <img src="images\narutogetmic.jpg" alt="description" class="image-box image">
    </a>
</div>