@page
@model ProDisplay2Model
@{
    ViewData["Title"] = "base";
}

<div class="text-center">
    <h1 class="display-4 nav-link text-white">CryptoKingg</h1>
        <div class="container text-center text-white">
            <p>Name is wip been working on this game with my friend image handling the coding and him on design and implamentaion</p>
            hopfully game will been released to android and ios this year #2025
        </div>
</div>


<div class="display-4 nav-link text-white text-center white-space">
     Display 1
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
</div>
<div class="image-container">
        <video width="940" height="440" autoplay muted>
        <source src="videos\cryptokg.mp4" type="video/mp4" alt="description">
</video>
</div>

<div class="text-center">
        <div class="container text-center text-white">
            put code snipits here
        </div>
</div>