@page
@model TestinModel
@{
    ViewData["Title"] = "base";
}
<div class="image-container">
    <video autoplay muted>
        <source src="videos\Untitled video - Made with Clipchamp (1).mp4" type="video/mp4">
    </video>
</div>